* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.Nav {
  background-color: #f4ea8e;
  height: 50px;
  width: 100%;
}

.mapInfo {
  background-color: bisque;
  height: 400px;
  width: 100%;
}

.dataInfo {
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #1f4068;
}

.chart-data{
  height:80px;
  width: 40%;
  margin-top: 1.25rem;
  margin-left: 2rem;
}

.chart-data h1{
  text-align:center;
  color:white;
}

#map {
  height: 100%;
  width: 100%;
}

/* country styling */
.TitleImg {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid black;
}
.TitleImg img {
  margin-left: 10px;
  margin-top: 21px;
  width: 40px;
  height: 20px;
}

/* country data  section */
.country-data {
  width: 40%;
  margin-top: 20px;
  border-radius: 10px;
  overflow-y:scroll;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.country-data::-webkit-scrollbar{
  display:none;
}